#product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    min-width: 300px;
    min-height: 350px;
    border: 1px solid #eeee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    transition: 0.2s linear;
}
.card:hover{
    box-shadow: none;
}
.card h3{
    text-transform: uppercase;
    margin: 3px 5px;
}
.card h3 a{
    text-decoration: none;
    color: black;
}
.card h3 a:hover{
color: crimson;
}
.card span{
    color: crimson;
    margin: 3px 5px;
}
.card p{
    margin: 3px 5px;
}
.card button{
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}